*{
	font-family: arial;
	font-size: 14px;
	color:#333;
	margin:0;
	padding: 0; 
}

header{
	padding: 20px;
    line-height: 40px;
    background-color: #3F51B5;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

.content{
	width:80%;
	margin:0 auto;
	border:1px solid #eee;
	padding: 20px;
}

.content p{
	margin-bottom: 10px;
}

.content p a{
	color:#00B6FF;
	text-decoration: none;
}

.content p a:hover{
	text-decoration: overline;
}