<div>
	<header-directive headertext="Angular Boilerplate Homepage"></header-directive>
	<div class="content">
		<p>Welcome to {{homepageDetail.projectName}}. This is <strong>{{homepageDetail.pageName}}</strong></p>
		<p><a href="#/innerPage">Go to next page</a></p>

		<h3>Notification</h3>
		<button ng-click="alertClick()">Alert</button>
		<button ng-click="warnClick()">Warn</button>
		<button ng-click="errorClick()">Error</button>
		<button ng-click="notificationClick()">Notification</button>
	</div>
</div>